{{#if location}}
    {{#link-to 'location'}}{{t "form-controls.buttons.back"}}{{/link-to}}
    <div class="selected-location">
        <h3>{{t "available.title"}}</h3>
        {{location-address-block location}}
        {{map-link location=location}}
    </div><br><br>
    <!-- selected-location-template -->

    <div class="w-form">
        <form id="appointment-searcher" data-partner="" {{action 'searchAppointments'}}>
            <fieldset>
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <label class="home-form-label" for="event_type">{{t "form-controls.application-type.label"}}:</label>
                        {{select-widget options=applTypeOptions optionValue="id" optionLabel="label" value=userInput.event_type class="form-control w-select"}}
                    </div>
                    <div class="w-col w-col-4">
                        <label class="home-form-label"  for="start_time">{{t "form-controls.start-date"}}:</label>
                        {{input type="date" class="form-control home-form-input w-input" id="start_time" value=userInput.start_time}}
                    </div>
                    <div class="w-col w-col-4">
                        <label class="home-form-label"  for="end_time">{{t "form-controls.end-date"}}:</label>
                        {{input type="date" id="end_time" class="form-control home-form-input w-input" value=userInput.end_time}}
                    </div>
                </div>
            </fieldset>

            <div class="btn-wrapper home-form-submit-div">
                <input id="btn-search-appointments" class="home-form-submit w-button" data-wait="Please wait..." type="submit" value="{{t "form-controls.buttons.search-appointments"}}">
                {{!--<button id="btn-search-appointments" class="btn btn-lg btn-primary" role="button"
                        type="submit" {{action 'searchAppointments'}}>{{t "form-controls.buttons.search-appointments"}}</button>--}}

            </div>

        </form>
    </div>

    {{partial "available-results"}}
{{else}}
    <p>{{t "errors.no-location"}}</p>
    {{#link-to 'location' class="btn btn-primary"}}{{t "form-controls.buttons.find-location"}}{{/link-to}}
{{/if}}