{{#if confirmation}}
  <h2 class="first">{{t "confirm.thank-you"}}</h2>
  <p>{{t "confirm.on-your-way"}}:</p>
  <div class="intro-text">
    {{event-time appointment.start_time appointment.end_time}}
    {{location-address-block location}}
    {{map-link location=location}}
  </div>
  <p><a href="https://www.getcoveredamerica.org/get-covered-101/before-i-sign-up/">{{t "confirm.what-to-bring-link"}}</a></p>
  <p>{{t "confirm.change-cancel"}} <span class="bold phone">{{location.formatted_phone}}</span>.</p>
  <p class="add-to-calendar">{{t "confirm.add-to-calendar"}}:</p>
  <p class="btn-cont">
    {{ical 'Google' confirmation.guid}}
    {{ical 'Yahoo' confirmation.guid}}
    {{ical 'Outlook' confirmation.guid}}
  </p>
{{else}}
  <p></p>
  <p>{{t "errors.no-confirmation"}}</p>
  <p>{{t "errors.continued"}}</p>
  {{#link-to 'location' class="btn btn-primary"}}{{t "form-controls.buttons.find-location"}}{{/link-to}}
{{/if}}