{{#if appointment}}
  {{#link-to 'available' class="btn btn-primary"}}Back{{/link-to}}
  {{#link-to 'confirm' class="btn btn-primary"}}confirm{{/link-to}}
  <div class="appointment-preconfirm row">
    <div class="col-sm-4">
      {{event-time appointment.local_start_time appointment.local_end_time}}
    </div>
    <div class="col-sm-4">
      {{appt-event-title appointment}}
      {{location-address-block location}}
      {{map-link location=location}}
    </div>
    <div class="col-sm-4">
      {{accommodations-list items=appointment.accommodations}}
    </div>
  </div>
  <form id="appointment-scheduler" data-partner="" {{action "schedule" on="submit"}}>
    <fieldset class="row">
      <div class="col-sm-6 col-md-3 form-group">
        <label for="firstName">First Name:</label>
        {{input type="text" class="form-control" id="firstName" name="firstName" value=userInput.first_name placeholder="First" required=true}}
      </div>
      <div class="col-sm-6 col-md-3 form-group">
        <label for="LastName">Last Name:</label>
        {{input type="text" class="form-control" id="LastName" name="LastName" value=userInput.last_name placeholder="Last" required=true}}
      </div>
      <div class="col-sm-6 col-md-3 form-group">
        <label for="email">Email Address:</label>
        {{input type="email" id="email" name="email" class="form-control" value=userInput.email placeholder="user@domain.com"}}
      </div>
      <div class="col-sm-6 col-md-3 form-group">
        <label for="phone">Phone Number:</label>
        {{input type="tel" id="phone" name="phone" class="form-control" value=userInput.phone placeholder="202-456-1111" required=true}}
      </div>
      <div class="col-sm-12 form-group">
        <label for="optInEmail">Receive email updates from Get Covered America</label>
        {{input type="checkbox" name="optInEmail" id="optInEmail" checked=userInput.optInEmail}}
      </div>
      <div class="col-sm-12 btn-wrapper error">
        <p>{{confirmationError}}</p>
      </div>
      <div class="col-sm-12 btn-wrapper">
        <button class="btn btn-lg btn-primary" role="button" id="schedule-btn">Schedule</button>
      </div>
    </fieldset>
  </form>
{{else}}
  <p>I'm sorry, we had some trouble loading that appointment time. Please try again.</p>
  <p>If you continue to receive this error, please contact a system administrator</p>
  {{#link-to 'location' class="btn btn-primary"}}Find a Location{{/link-to}}
{{/if}}
